<%- layout('/layouts/boilerplate') %>

    <div class="row">
        <div class="col-1"></div>
        <div class="col-11 mb-3">
            <h1>Новый пост</h1>
        </div>
    </div>
    <form action="/create" method="post" id="form-new-post">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-11 mb-3">
                <input type="text" name="post[title]" class="form-control " id="title" placeholder="Заголовок"
                    autofocus>
            </div>
        </div>
        <div class="row">
            <div class="col-1">
                <div class="dropend add-item-menu">
                    <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
                        role="button">
                        <img src="/images/add-element.svg" alt="добавить элемент" class="img-fluid">
                    </button>
                    <ul class="dropdown-menu">
                        <li> <button type="button" class="dropdown-item add-img add-post-element">Изображение</button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-11 mb-3">
                <input type="text" name="post[text]" class="form-control empty-post-element" id="text"
                    placeholder="Начните печатать или выберете элемент">
            </div>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-11 mb-3">
                <button class="btn btn-info" type="submit">Опубликовать</button>
            </div>
        </div>
    </form>
    <script src="/js/stylization_tools.js"></script>