<%- layout('/layouts/boilerplate') %>

    <form action="/posts/<%= post._id %>/?_method=PUT" method="POST" class="needs-validation" novalidate>
        <div class="mb-3">
            <label for="title" class="form-label">Заголовок</label>
            <input type="text" name="post[title]" class="form-control" id="title" value="<%= post.title %>" required>
            <div class="invalid-feedback">
                Заголовок не может быть пустым
            </div>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">URL изображения</label>
            <input type="text" name="post[image]" class="form-control" id="image">
        </div>
        <div class="mb-3">
            <label for="text" class="form-label">Текст</label>
            <textarea name="post[text]" class="form-control" id="text" rows="10" required><%= post.text %></textarea>
            <div class="invalid-feedback">
                Текст не может быть пустым
            </div>
        </div>
        <button type="submit" class="btn btn-success">Сохранить</button>
    </form>