<%- layout('/layouts/boilerplate') %>


    <form action="/posts" method="POST" class="needs-validation" novalidate enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Заголовок</label>
            <input type="text" name="post[title]" class="form-control" id="title" required autofocus>
            <div class="invalid-feedback">
                Заголовок не может быть пустым
            </div>
        </div>
        <div class="mb-3">
            <label for="image-upload" class="form-label">Загрузить фото</label>
            <input type="file" name="post[image]" class="form-control mb-3" id="image-upload"
                accept=".png, .jpg, .jpeg">
            <img id="img-preview" src="#" class="img-fluid" alt="" />
            <!-- <div class="container img-preview"></div> -->
        </div>
        <div class="mb-3">
            <label for="text" class="form-label">Текст</label>
            <textarea name="post[text]" class="form-control" id="text" rows="10" required></textarea>
            <div class="invalid-feedback">
                Текст не может быть пустым
            </div>
        </div>
        <button type="submit" class="btn btn-success">Создать</button>
    </form>

    <script src="/js/stylization_tools.js"></script>