.post-link {
    border: none;
    text-decoration: none;
    color: black;
}

.post-link:hover {
    color: black;
}

.btn-vote {
    display: inline-block;
    border: none;
    height: 2.5rem;
    width: 2.5rem;
    fill: #595959;
}

.vote {
    cursor: pointer;
}

.on>.btn-upvote {
    fill: green;
}

.on>.btn-downvote {
    fill: red;
}